* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
}

#ConfigPane {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.3;
  transform: translateY(calc(100% - 0.9em - 10px));
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;
}

#ConfigPane h6 {
  cursor: pointer;
  font-size: inherit;
  display: block;
  margin-top: 0;
  padding: 0.4em 0.5em;
  line-height: 1em;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

#ConfigPane hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

#ConfigPane:hover {
  opacity: 0.6;
  transform: translateY(calc(100% - 0.9em - 20px));
}

#ConfigPane.open {
  transform: translateY(0);
}

#ConfigPane.open,
#ConfigPane.open h6 {
  opacity: 1;
  transform: translateX(0);
}

#ConfigPane form label,
#ConfigPane form input:not([type="radio"]) {
  display: block;
}

#ConfigPane form radiogroup input[type="radio"]:not(:first-of-type) {
  margin-left: 20px;
}

#ConfigPane input,
#ConfigPane select {
  margin-bottom: 20px;
}

#ConfigPane label {
  clear: both;
  margin-bottom: 10px;
}

#ConfigPane input[disabled="true"] {
  opacity: 0.2;
}

#ConfigPane #EmbedCode {
  width: 300px;
}

#ConfigPane #OverlayColor {
  margin-right: 10px;
}

#ConfigPane #LimitLoops:not(:checked) ~ #MaxLoops,
#ConfigPane #LimitLoops:not(:checked) ~ label[for="MaxLoops"] {
  display: none;
}

#ConfigPane label[for="FilterStrength"].hidden,
#ConfigPane label[for="FilterStrength"].hidden + #FilterStrength {
  display: none;
}

#ConfigPane label[for="OverlayColor"] + span,
#ConfigPane #OverlayColor {
  float: left;
}

#ConfigPane #MaxLoops {
  width: 20px;
}

code {
  display: inline-block;
  background: rgba(20, 20, 20, 0.2);
  padding: 3px 5px;
  font-family: Courier, serif;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

ul {
  margin: 0 0 30px;
}

li {
  margin: 10px 0 0;
}

html {
  background-color: #111111;
}

body {
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-wrapper {

}

.background-wrapper .pattern {
  background-repeat: repeat;
  opacity: 0.5;
}

.background-wrapper .pattern[data-pattern-name="simple-horizontal"] {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSI5Ij4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjkiIGZpbGw9IiNmMmYyZjIiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiIGZpbGw9IiNlN2U3ZTciPjwvcmVjdD4KPHJlY3QgeT0iMiIgd2lkdGg9IjIwIiBoZWlnaHQ9IjMiIGZpbGw9IiNlY2VjZWMiPjwvcmVjdD4KPC9zdmc+");
}

.background-wrapper .pattern[data-pattern-name="subtle-dots"] {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.background-wrapper .pattern[data-pattern-name="static"] {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+");
}

.background-wrapper .overlay {
  z-index: 2;
}

.background-wrapper .color {
  background-color: #000000;
  opacity: 0.7;
}

.background-video.mobile + .overlay {
  pointer-events: none;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.background-video:not(.mobile) {
  pointer-events: none;
}

.ready {
  opacity: 1;
}
